*.idea
*.so
*.csv
*.pyc
*.so
*.dylib
*.info
*.petsc_mat
*.petsc_vec
*.xmf
*.h5
*.egg-info
*~
data*txt
*.log
*.out
*.dat
*.cmd
*.ele
*.face
*.node
*.poly
*.bak
*.log.*
install_*
config_*
build/
darwin/
linux2/
garnet.gnu/
Cygwin
proteus.egg-info/
proteus/ADR.cpp
proteus/subsurfaceTransportFunctions.c
hashdist/
stack/
cygwin_bootstrap.done
matlab_setup.done
