proteus/tests/AddedMass/Aij_sol2D.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/AddedMass/Aij_sol3D.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/BernsteinPolynomials/poisson_eqn/comparison_files/comparison_2D_poisson_hex_degree2_u0_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/BernsteinPolynomials/poisson_eqn/comparison_files/comparison_2D_poisson_simplex_degree2_u0_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/BernsteinPolynomials/poisson_eqn/comparison_files/comparison_3D_poisson_hex_degree2_u0_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/BernsteinPolynomials/poisson_eqn/comparison_files/comparison_3D_poisson_simplex_degree2_u0_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/disc_ICs/comparison_files/comparison_test_case_1_u_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/disc_ICs/comparison_files/comparison_test_case_2_u_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/pure_level_set/comparison_files/comparison_clsvof_test_case_1_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/pure_level_set/comparison_files/comparison_clsvof_test_case_2_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/pure_level_set/comparison_files/comparison_clsvof_test_case_3_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/pure_level_set/comparison_files/comparison_clsvof_test_case_4_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/comparison_files/comparison_2D_phi_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/comparison_files/comparison_3D_phi_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/HotStart_3P/comparison_files/comparison_T01P1_hotstart_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/HotStart_3P/comparison_files/comparison_T01P2_hotstart_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/MCorr/comparison_files/comparison_cons_ls_level_0_vof_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/NCLS/comparison_files/comparison_ncls_level_0_non_saturated_ls__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/NCLS/comparison_files/comparison_ncls_level_0_pureAdvection_EV1__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/NCLS/comparison_files/comparison_ncls_level_0_pureAdvection_SUPG__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/NCLS/comparison_files/comparison_ncls_level_0_saturated_ls__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/VOF/comparison_files/comparison_vof_level_0_EV1__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/VOF/comparison_files/comparison_vof_level_0_EV2__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/VOF/comparison_files/comparison_vof_level_0_SUPG__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/VOF/comparison_files/comparison_vof_level_0_SmoothnessBased__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/VOF/comparison_files/comparison_vof_level_0_TaylorGalerkin__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/LS_with_edgeBased_EV/VOF/comparison_files/comparison_vof_level_0_stab4__u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/MoveMeshMonitor/nodesResult.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_conical_island_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_dSWEs_steady_state_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_dam3Bumps_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_obstacle_flow_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_parab1D_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_reef_island_runup_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_santos_step_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_seawall_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_solitary_wave_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_transcritical_bump_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/ci/hex_cube_3x3.h5 filter=lfs diff=lfs merge=lfs -text
proteus/tests/ci/hex_cube_3x3.xmf filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/conforming_rans2p/comparison_files/comparison_T1_rans2p_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/conforming_rans3p/comparison_files/comparison_T1P1_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_method/comparison_files/comparison_T1_rans3p_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p/comparison_files/comparison_T1_ibm_rans2p_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/comparison_files/comparison_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/sbm_3Dmesh/comparison_files/comparison_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/sbm_method/comparison_files/comparison_T1_sbm_rans3p_u_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/comparison_files/comparison_3D_displacement_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/comparison_files/comparison_3D_pressure_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/rotation/comparison_files/comparison_rotation_c0p1cg_vbdf_2_level_0_phid_t10.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/rotation/comparison_files/comparison_rotation_c0p1cg_vbdf_2_level_0_u_t10.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/rotation/comparison_files/comparison_rotation_c0p1cg_vbdf_2_level_0_vof_t10.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/comparison_files/comparison_3D_phid_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/comparison_files/comparison_3D_u_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/comparison_files/comparison_3D_vof_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex2D/comparison_files/comparison_vortex_c0p1cg_be_1_level_1_exactHeaviside_phid_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex2D/comparison_files/comparison_vortex_c0p1cg_be_1_level_1_exactHeaviside_u_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex2D/comparison_files/comparison_vortex_c0p1cg_be_1_level_1_exactHeaviside_vof_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex2D/comparison_files/comparison_vortex_c0p1cg_be_1_level_1_phid_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex2D/comparison_files/comparison_vortex_c0p1cg_be_1_level_1_u_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex2D/comparison_files/comparison_vortex_c0p1cg_be_1_level_1_vof_t80.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/matrix_constructor/comparison_files/mass_reference_TH_2D.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/matrix_constructor/comparison_files/velocity_laplace_C0P2_mesh.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/periodic/comparison_files/comparison_ductp1t13dpghe0.4_velocity_t25.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/periodic/comparison_files/comparison_ductq1t12dpghe0.0975609756097561_velocity_t25.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_bdy_func_values.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_bdy_func_values_mesh_8.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_bdy_func_values_trig.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_flux_values_mesh_8.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_func_values.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_func_values_mesh_8.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/post_processing/comparison_files/bdm_func_values_trig.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/comparison_drivenCavityStokes_velocity_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/comparison_twp_navier_stokes_cavity_2d_p_t1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/drivenCavityNSE_LSC_expected.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/drivenCavityNSE_LSC_expected.xmf filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/tp_pcd_y_output.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/tp_pcd_y_output_cheb.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/tppcd_y_dirichlet_dof.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/comparison_files/twp_navier_stokes_cavity_2d.xmf filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/quad_mass_matrix.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/sol_10.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/sol_20_lst.npy filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_2D_ev_p_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_2D_ev_phi_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_2D_ev_velocity_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_2D_supg_p_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_2D_supg_phi_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_2D_supg_velocity_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_3D_ev_p_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_3D_ev_phi_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_3D_ev_velocity_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_3D_supg_p_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_3D_supg_phi_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/surface_tension/rising_bubble_rans3p/comparison_files/comparison_risingBubble_3D_supg_velocity_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/wave_tests/data_timeSeries_err1.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/for_testMeshes/obstacle.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/for_testMeshes/obstacle.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/for_testMeshes/obstacle.poly filter=lfs diff=lfs merge=lfs -text
docs/source/_static/proteus.png filter=lfs diff=lfs merge=lfs -text
docs/source/_static/red_corps_castle.png filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.asy filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.ply filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh2D.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.asy filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.face filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.ply filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/CLSVOF/with_RANS3PF/mesh3D_boundaryLegend.asy filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/Couette.msh filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/Couette2D.msh filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/Prism.dmg filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/Rectangle.dmg filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/Rectangle0.smb filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/Rectangle1.smb filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/TwoQuads.dmg filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/TwoQuads0.smb filter=lfs diff=lfs merge=lfs -text
proteus/tests/MeshAdaptPUMI/cube.dmg filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshBucklingFlow.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshBucklingFlow.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshBucklingFlow.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshBucklingFlow.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshBucklingFlow.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshBucklingFlow.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshDambreak.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshDambreak.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshDambreak.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshDambreak.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshDambreak.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshDambreak.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshFilling.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshFilling.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshFilling.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshFilling.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshFilling.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshFilling.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshMarin.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshMarin.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshMarin.face filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshMarin.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshMarin.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/TwoPhaseFlow/meshMarin.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_method/mesh.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_method/mesh.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_method/mesh.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_method/mesh.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_method/mesh.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/meshCylinder.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/meshCylinder.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/meshCylinder.face filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/meshCylinder.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/meshCylinder.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/cylinder2D/ibm_rans2p_3D/meshCylinder.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.face filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.ply filter=lfs diff=lfs merge=lfs -text
proteus/tests/griffiths_lane_6/gl_6_3d.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.asy filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.face filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.ply filter=lfs diff=lfs merge=lfs -text
proteus/tests/levelset/vortex/tank3d.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/linalgebra_tests/jac.bin filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/Ap_rho.bin filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/Np_rho.bin filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/Qp_dens.bin filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/Qp_visc.bin filter=lfs diff=lfs merge=lfs -text
proteus/tests/solver_tests/import_modules/input_vec_tppcd.bin filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_GN_steady_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWFlow/comparison_files/comparison_solitary_reef_h_t2.csv filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/dam_over_bumps/hump.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/dam_over_bumps/hump.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/dam_over_bumps/hump.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/dam_over_bumps/hump.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/dam_over_bumps/hump.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/dam_over_bumps/hump.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_gauges/hump.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_gauges/hump.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_gauges/hump.edge filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_gauges/hump.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_gauges/hump.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_reflecting_BCs/tank2d.1.neigh filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_reflecting_BCs/tank2d.1.poly filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_reflecting_BCs/tank2d.ele filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_reflecting_BCs/tank2d.node filter=lfs diff=lfs merge=lfs -text
proteus/tests/SWEs/test_reflecting_BCs/tank2d.poly filter=lfs diff=lfs merge=lfs -text
