*.csv
*.pyc
*.xmf
*.h5
*~
data*txt
*.log
*.out
*.dat
*.cmd
*.ele
*.face
*.node
*.bak
*.log.*
install_*
config_*
build/
config.py
darwin/
linux2/
garnet.gnu/
Cygwin
mesh*
src/subsurfaceTransportFunctions.c
hashdist/
stack/