[submodule "externalPackages/numpy"]
	path = externalPackages/numpy
	url = git@github.com:numpy/numpy.git
[submodule "externalPackages/cython"]
	path = externalPackages/cython
	url = git@github.com:cython/cython.git
[submodule "externalPackages/ipython"]
	path = externalPackages/ipython
	url = git@github.com:ipython/ipython.git
[submodule "externalPackages/matplotlib"]
	path = externalPackages/matplotlib
	url = git@github.com:matplotlib/matplotlib.git
[submodule "externalPackages/sympy"]
	path = externalPackages/sympy
	url = git@github.com:sympy/sympy.git
[submodule "externalPackages/pytables"]
	path = externalPackages/pytables
	url = git@github.com:PyTables/PyTables.git
[submodule "externalPackages/zlib"]
	path = externalPackages/zlib
	url = git@github.com:erdc-cm/zlib.git
[submodule "externalPackages/triangle"]
	path = externalPackages/triangle
	url = git@github.com:erdc-cm/triangle.git
[submodule "externalPackages/tetgen"]
	path = externalPackages/tetgen
	url = git@github.com:erdc-cm/tetgen.git
[submodule "externalPackages/szip"]
	path = externalPackages/szip
	url = git@github.com:erdc-cm/szip.git
[submodule "externalPackages/superlu"]
	path = externalPackages/superlu
	url = git@github.com:erdc-cm/superlu.git
[submodule "externalPackages/numexpr"]
	path = externalPackages/numexpr
	url = git@github.com:erdc-cm/numexpr.git
[submodule "externalPackages/daetk"]
	path = externalPackages/daetk
	url = git@github.com:erdc-cm/daetk.git
[submodule "externalPackages/hdf5"]
	path = externalPackages/hdf5
	url = git@github.com:erdc-cm/hdf5.git
[submodule "externalPackages/petsc4py"]
	path = externalPackages/petsc4py
	url = git@bitbucket.org:petsc/petsc4py.git
[submodule "externalPackages/clawpack/pyclaw"]
	path = externalPackages/clawpack/pyclaw
	url = git@github.com:clawpack/pyclaw.git
[submodule "externalPackages/clawpack/riemann"]
	path = externalPackages/clawpack/riemann
	url = git@github.com:clawpack/riemann.git
[submodule "externalPackages/clawpack/visclaw"]
	path = externalPackages/clawpack/visclaw
	url = git@github.com:clawpack/visclaw.git
[submodule "externalPackages/clawpack/clawutil"]
	path = externalPackages/clawpack/clawutil
	url = git@github.com:clawpack/clawutil.git
[submodule "externalPackages/python"]
	path = externalPackages/python
	url = git@github.com:erdc-cm/python.git
[submodule "externalPackages/nose"]
	path = externalPackages/nose
	url = git@github.com:nose-devs/nose.git
[submodule "externalPackages/petsc"]
	path = externalPackages/petsc
	url = git@github.com:erdc-cm/petsc-dev.git
[submodule "externalPackages/adh"]
	path = externalPackages/adh
	url = git@github.com:erdc-cm/adh.git
[submodule "externalPackages/stwave"]
	path = externalPackages/stwave
	url = git@github.com:erdc-cm/stwave.git
[submodule "externalPackages/adcirc"]
	path = externalPackages/adcirc
	url = git@github.com:erdc-cm/adcirc.git
[submodule "externalPackages/pygrib"]
	path = externalPackages/pygrib
	url = git@github.com:erdc-cm/pygrib.git
[submodule "externalPackages/jasper"]
	path = externalPackages/jasper
	url = git@github.com:erdc-cm/jasper.git
[submodule "externalPackages/grib_api"]
	path = externalPackages/grib_api
	url = git@github.com:erdc-cm/grib_api.git
[submodule "externalPackages/pyproj"]
	path = externalPackages/pyproj
	url = git@github.com:erdc-cm/pyproj.git
[submodule "externalPackages/netcdf"]
	path = externalPackages/netcdf
	url = git@github.com:erdc-cm/netCDF.git
[submodule "externalPackages/netcdf4-python"]
	path = externalPackages/netcdf4-python
	url = git@github.com:erdc-cm/netCDF4-Python.git
[submodule "externalPackages/adh-externals"]
	path = externalPackages/adh-externals
	url = git@github.com:erdc-cm/adh-externals.git
[submodule "externalPackages/petsc-dev"]
	path = externalPackages/petsc-dev
	url = git@bitbucket.org:petsc/petsc.git
[submodule "externalPackages/mpi4py"]
	path = externalPackages/mpi4py
	url = git@bitbucket.org:mpi4py/mpi4py.git
