[submodule "air-water-vv"]
	path = air-water-vv
	url = git://github.com/erdc/air-water-vv.git
	branch = master
[submodule "stack"]
	path = stack
	url = git://github.com/erdc/stack
[submodule "proteus/tests/proteus_tutorial"]
	path = proteus/tests/proteus_tutorial
	url = git://github.com/erdc/proteus_tutorial
    branch = zhanga_updateTests
