dist: trusty
sudo: required

language: python

env:
- TEST_PROFILE="test.proteus.yaml"

python:
- 2.7

addons:
  apt:
    packages:
    - gfortran
    - libffi-dev
    - libssl-dev
    - python-lzma

before_install:
- pip install pyliblzma
- wget https://github.com/git-lfs/git-lfs/releases/download/v1.5.5/git-lfs-linux-amd64-1.5.5.tar.gz
- tar xzvf git-lfs-linux-amd64-1.5.5.tar.gz
- cd git-lfs-1.5.5
- PREFIX=${HOME} ./install.sh
- export PATH=${HOME}/bin:${PATH}
- cd ..

install:
- git lfs fetch
- git lfs checkout
- make hashdist
- make stack
- make stack/default.yaml
- ./hashdist/bin/hit init-home
- ./hashdist/bin/hit remote add http://192.237.213.149/hashdist_src --objects="source"
- ./hashdist/bin/hit remote add http://192.237.213.149/hashdist_ubuntu_14_04 --objects="build"
- cd stack
- ../hashdist/bin/hit build -v default.yaml
- cd ..
- make profile
- FC=gfortran CC=mpicc CXX=mpicxx make install
- export PATH=$PWD/linux2/bin:$PATH
- export LD_LIBRARY_PATH=$PWD/linux2/lib:$LD_LIBRARY_PATH
- export SSL_CERT_DIR=/etc/ssl/certs
- ls $SSL_CERT_DIR

script:
- py.test --boxed -v linux2/lib/python2.7/site-packages/proteus-$(python -c "import proteus; print proteus.__version__")-py2.7-linux-x86_64.egg/proteus/tests

notifications:
  email:
    on_success: change
    on_failure: always
