addons:
  apt:
    packages:
    - gfortran
    - libffi-dev
    - libssl-dev
    - python-lzma
    - python3
    - doxygen
    - graphviz

cache:
  - timeout: 1000

notifications:
  email:
    on_success: change
    on_failure: always

after_success:
  - conda install codecov
  - codecov

jobs:
  include:
  - stage: test
    name: "hashdist linux"
    os: linux
    dist: xenial
    language: python
    python: 2.7
    env: TEST_PROFILE="proteus-hashdist"
    install:
      - git lfs pull
      - ./stack/hit/bin/hit init-home
      - ./stack/hit/bin/hit remote add http://levant.hrwallingford.com/hashdist_src --objects="source"
      - ./stack/hit/bin/hit remote add http://levant.hrwallingford.com/hashdist_ubuntu_16_04 --objects="build"
      - make stack/default.yaml
      - pushd $HOME
      - mkdir -p hashdist_src
      - mkdir -p hashdist_bld
      - rm -rf .hashdist/src .hashdist/bld
      - ln -s $HOME/hashdist_src .hashdist/src
      - ln -s $HOME/hashdist_bld .hashdist/bld
      - popd
      - pushd stack
      - echo $PWD
      - ls -l
      - ./hit/bin/hit build -j 2 -v default.yaml
      - popd
      - export PATHSAVE=$PATH
      - export PATH=$PWD/linux/bin:$PATH
      - export LD_LIBRARY_PATH=$PWD/linux/lib:$LD_LIBRARY_PATH
      - PROTEUS_OPT="-w -O2 -UNDEBUG" FC=gfortran CC=mpicc CXX=mpicxx make develop N=1
      - export SSL_CERT_DIR=/etc/ssl/certs
      - #./linux/bin/pip3 install matplotlib
    script:
      - export MPLBACKEND="AGG"
      - PATH=./linux/bin:$PATH py.test -n 1 --dist=loadfile --forked -v proteus/tests --ignore proteus/tests/POD  --ignore proteus/tests/MeshAdaptPUMI -k 'not test_damBreak_solver_options' --cov=proteus
  - stage: test
    name: "conda linux"
    os: linux
    dist: xenial
    language: python
    python: 3.7
    env: TEST_PROFILE="proteus-conda"
    install:
      - git lfs pull
      - sudo apt-get update
      - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      - bash miniconda.sh -b -p $HOME/miniconda
      - source "$HOME/miniconda/etc/profile.d/conda.sh"
      - hash -r
      - conda config --set always_yes yes --set changeps1 no
      - conda update -q conda
      - conda info -a
      - conda env create -f environment-dev.yml
      - conda activate proteus-dev
      - make develop-conda N=1
    script:
      - export MPLBACKEND="AGG"
      - py.test -n 1 --dist=loadfile --forked -v proteus/tests --ignore proteus/tests/POD --cov=proteus
    deploy:
      provider: script
      script: bash ./scripts/deploy.sh docs
      skip_cleanup: true
      on:
        branch: master
  - stage: test
    name: "conda osx"
    os: osx
    osx_image: xcode11.3
    env: TEST_PROFILE="proteus-conda-osx"
    install:
      - wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
      - bash miniconda.sh -b -p $HOME/miniconda
      - source "$HOME/miniconda/etc/profile.d/conda.sh"
      - hash -r
      - conda config --set always_yes yes --set changeps1 no
      - conda update -q conda
      - conda info -a
      - conda env create -f environment-dev.yml
      - conda activate proteus-dev
      - make develop-conda N=1
    script:
      - export MPLBACKEND="AGG"
      - py.test -n 1 --dist=loadfile --forked -v proteus/tests --ignore proteus/tests/POD
