os: linux
dist: xenial
#sudo: required

language: python

env:
  - TEST_PROFILE="proteus"
  - TEST_PROFILE="1st_set"
  - TEST_PROFILE="2nd_set"

python:
  - "3.7"

addons:
  apt:
    packages:
    - gfortran
    - libffi-dev
    - libssl-dev
    - python-lzma
    - python3

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda env create -f environment-dev.yml
  - conda activate proteus-dev
  - python setup.py install

cache:
  - timeout: 1000

script:
  - export MPLBACKEND="AGG"
  - if [[ "${TEST_PROFILE}" == "proteus" ]]; then PATH=./linux/bin:$PATH py.test -n 1 --dist=loadfile --forked -v proteus/tests --ignore proteus/tests/POD  --ignore proteus/tests/MeshAdaptPUMI --cov=proteus; fi

#  - if [[ "${TEST_PROFILE}" == "1st_set" ]]; then PATH=./linux/bin:$PATH py.test -n 1 --dist=loadfile --forked -v air-water-vv/Tests/1st_set; fi

#  - if [[ "${TEST_PROFILE}" == "2nd_set" ]]; then PATH=./linux/bin:$PATH py.test -n 1 --dist=loadfile --forked -v air-water-vv/Tests/2nd_set; fi
  - unset LD_LIBRARY_PATH #reset things so we don't break cache?

notifications:
  email:
    on_success: change
    on_failure: always

after_success:
  - conda install codecov
  - codecov
