dist: trusty
sudo: required

language: python

env:
- TEST_PROFILE="test.proteus.yaml"

python:
- 2.7

addons:
  apt:
    packages:
    - gfortran
    - libffi-dev
    - python-lzma
    - libssl-dev

before_install:
- pip install pyliblzma

install:
- curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
- sudo apt-get install git-lfs
- git lfs checkout
- make hashdist
- make stack
- make stack/default.yaml
- ./hashdist/bin/hit init-home
- ./hashdist/bin/hit remote add https://dl.dropboxusercontent.com/u/26353144/hashdist_src --objects="source"
- ./hashdist/bin/hit remote add https://dl.dropboxusercontent.com/u/26353144/hashdist_ubuntu_14_04 --objects="build"
- ./hashdist/bin/hit purge chrono/khupjxoxny65
- chmod u+rwX -R ${HOME}/.hashdist/bld/chrono
- rm -rf ${HOME}/.hashdist/bld/chrono/*
- FC=gfortran make install
- export PATH=$PWD/linux2/bin:$PATH
- export SSL_CERT_DIR=/etc/ssl/certs
- ls $SSL_CERT_DIR

script:
- py.test --boxed -v linux2/lib/python2.7/site-packages/proteus-$(python -c "import proteus; print proteus.__version__")-py2.7-linux-x86_64.egg/proteus/tests

notifications:
  email:
    on_success: change
    on_failure: always
